<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
xmlns:xsi="http://www3.org/2001/XMLSchema-instance">  
  <targets>  
    <!-- Write logs to file-->
    <default-wrapper xsi:type="BufferingWrapper" bufferSize="100"/>  
    <target name="logfile" xsi:type="File" filename="c:\app\CollAPi-${shortdate}.log" />
  </targets>  
  <targets>  
    <rules>
      <logger name="*" minilevel="info" writeTo="logfile" />
    </rules>
    <default-wrapper xsi:type="AsyncWrapper">  
      <wrapper-target xsi:type="RetryingWrapper"/>  
    </default-wrapper>  
    <target name="n1" xsi:type="Network" address="tcp://localhost:4001"/>  
    <target name="n2" xsi:type="Network" address="tcp://localhost:4002"/>  
    <target name="n3" xsi:type="Network" address="tcp://localhost:4003"/>  
  </targets>  
</nlog>